.App {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vh;
}

.section {
  margin-top: 0;
}

span {
  margin: 0 0.5em;
}

button {
  display: block;
  margin-top: 3vh;
}

p {
  color: darkblue;
}

.metrics {
  margin-top: 5vh;
}

.claims {
  margin-bottom: -1em;
}
